# WordPress core — not our code
app/public/wp-admin/
app/public/wp-includes/
app/public/*.php
app/public/wp-content/plugins/
app/public/wp-content/themes/twenty*
app/public/wp-content/uploads/
app/public/wp-content/upgrade/
app/public/wp-content/cache/
app/public/wp-content/languages/
app/envrc
app/public/.htaccess
app/public/license.txt
app/public/readme.html
app/public/wp-content/index.php
app/public/wp-content/themes/

# LocalWP internals
conf/
logs/
*.sqlite
*.db

# Secrets & local config
app/public/wp-config.php
.env

# Frontend build artifacts
frontend/node_modules/
frontend/dist/

# OS junk
Thumbs.db
.DS_Store